# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This file designates code owners for this repository.
# Each line is a file pattern followed by one or more owners.

* @christian-kreuzberger-dtx @krisdyna @MrManny @raphael-wigoutschnigg-dt
